$bg-main-color: #fff
$bg-error-color: #fcf6f7
$disabled-bg-color: #f9f9f9
$disabled-text: #13141f
$primary-color: #ff00a4
$shop-primary-color: #b400a4
$similar-list-background: #f8f9fb
$text-color: #404040
$text-white: #fff
$text-green: #22a958
$text-black: #000000
$white-color: #fff
$text-color-light: #a3a3a3
$verdun-green-color: #305d02
$new-services-background-color: rgba(19, 20, 31, 0.05)
$text-green-rgb: 34, 169, 88
$text-xxx-small: 7px
$text-xx-small: 8px
$text-x-md-small: 9.1px
$text-x-small: 10px
$text-x-mid-small: 11px
$text-x-avr-small: 11.2px
$text-small: 12px
$text-medium: 14px
$text-size: 16px
$text-large: 17px
$text-m-large: 18px
$text-x-large: 20px
$text-xx-large: 22px
$text-xxx-large: 24px
$text-xxxx-large: 32px
$font-light: 300
$font-regular: 400
$font-medium: 500
$font-bold: 600
$font-bolder: 700
$card-shadow: rgba(0, 0, 0, 0.1)
$card-shadow-3: 0 2px 6px 0 $card-shadow
:export
    primaryColor: $primary-color
    verdunGreenColor:$verdun-green-color
