@font-face {
  font-family: iransans;
  src: url(IRANSansWeb_Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: iransans;
  src: url(IRANSansWeb_Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: iransans;
  src: url(IRANSansWeb_Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: iransans;
  src: url(IRANSansWeb.woff2);
}
